<nav class="navbar navbar-default navbar-fixed-bottom footer_nav">
  <div class="foot_nav btn-group dropup"><a class="dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-share btn-lg" aria-hidden="true"></span> {eyou:lang name='lang41' /}</a>
    <div class="dropdown-menu webshare"><!-- JiaThis Button BEGIN -->
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script> 
      <!-- JiaThis Button END --></div>
  </div>
  <div class="foot_nav"><a href="tel:{eyou:global name='web_attr_3' /}"><span class="glyphicon glyphicon-phone btn-lg" aria-hidden="true"></span>{eyou:lang name='lang33' /}</a></div>
  <div class="foot_nav" >
    <button id="foot_btn" type="button"  data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <a id="gotocate" href="#"><span class="glyphicon glyphicon-th-list btn-lg"></span> {eyou:lang name='lang43' /} </a>
    </button>
  </div>
  <div class="foot_nav"><a id="gototop" href="#"><span class="glyphicon glyphicon-circle-arrow-up btn-lg" aria-hidden="true"></span>{eyou:lang name='lang45' /}</a></div>
</nav>
<footer>
  <div class="copyright">
    <p>{eyou:global name='web_copyright' /}{eyou:global name='web_recordnum' /}</p>
    <p class="copyright_p">{eyou:lang name='lang37' /}：{eyou:global name='web_attr_5' /} &nbsp;{eyou:lang name='lang29' /}：{eyou:global name='web_attr_2' /} &nbsp;{eyou:lang name='lang31' /}：{eyou:global name='web_attr_4' /}&nbsp;</p>
  </div>
</footer>
{eyou:global name='web_thirdcode_pc' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->