<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{eyou:global name='web_title' /}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc,mobile">
{eyou:static file="skin/css/bootstrap.css" /}
{eyou:static file="skin/css/bxslider.css" /}
{eyou:static file="skin/css/style.css" /}
{eyou:static file="skin/js/jquery.min.js" /}
{eyou:static file="skin/js/bxslider.min.js" /}
{eyou:static file="skin/js/common.js" /}
{eyou:static file="skin/js/bootstrap.js" /}
<!--[if lt IE 9]>
{eyou:static file="skin/js/html5shiv.min.js" /}
{eyou:static file="skin/js/respond.min.js" /}
<![endif]-->
</head>
<body>
{eyou:include file="header.htm" /} 
<!-- bxslider -->
<div class="flash">
  <ul class="bxslider">
    {eyou:adv pid='1' }
    <li><a href="{$field.links}"><img src="{$field.litpic}" alt="{$field.title}" /></a></li>
    {/eyou:adv}
  </ul>
</div>
<script type="text/javascript">    $('.bxslider').bxSlider({
      adaptiveHeight: true,
      infiniteLoop: true,
      hideControlOnEnd: true,
      auto:true
    });
</script>
<div class="aboutus">
  <div class="container">
    <div class="row"> {eyou:channelartlist typeid='1'}
      <div class="col-xs-12 col-sm-6 col-md-6 about_line">
        <h2>{eyou:field name='typename' /}</h2>
        {eq name='$Think.cookie.home_lang' value='cn'}
        <span>{eyou:field name='englist_name' /}</span>
        {/eq}
        <a href="{eyou:field name='typeurl' /}" class="about_more">+more</a>
        <p>
        <p class="about_contents">{eyou:type addtable='single_content'}{$field.content|html_msubstr=###,0,255}...{/eyou:type}</p>
        </p>
        <img src="{eyou:field name='litpic' /}" alt="{eyou:field name='typename' /}"></div>
      {/eyou:channelartlist}  
      {eyou:channelartlist typeid='3'}
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h2>{eyou:field name='typename' /}</h2>
        {eq name='$Think.cookie.home_lang' value='cn'}
        <span>{eyou:field name='englist_name' /}</span>
        {/eq}
        <ul class="index_news">
          {eyou:arclist titlelen='20' row='4' infolen='65'}
          <li><span><strong>{$field.add_time|MyDate='d',###}</strong><i>{$field.add_time|MyDate='Y-m',###}</i></span><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a><br>
            <em>{$field.seo_description}...</em></li>
          {/eyou:arclist}
        </ul>
      </div>
      {/eyou:channelartlist} </div>
  </div>
</div>
{eyou:channelartlist typeid='2'}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="index_product">
        <h2>{eyou:field name='typename' /}</h2>
        {eq name='$Think.cookie.home_lang' value='cn'}
        <span>{eyou:field name='englist_name' /}</span>
        {/eq}
        <div class="product_list"> {eyou:arclist titlelen='20' row='8'}
          <div class="col-sm-4 col-md-3 col-mm-6 product_img"><a href="{$field.arcurl}"><img src="{$field.litpic}" class="img-thumbnail" alt="{$field.title}"></a>
            <p class="product_title"><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></p>
          </div>
          {/eyou:arclist}
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{/eyou:channelartlist} 
{eyou:channelartlist typeid='4'}
<div class="index_case">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="index_product">
          <h2>{eyou:field name='typename' /}</h2>
          {eq name='$Think.cookie.home_lang' value='cn'}
          <span>{eyou:field name='englist_name' /}</span>
          {/eq}
          <div class="product_list"> {eyou:arclist titlelen='20' row='4'}
            <div class="col-sm-4 col-md-3 col-mm-6 product_img"><a href="{$field.arcurl}"><img src="{$field.litpic}" class="img-thumbnail" alt="{$field.title}"></a>
              <p class="product_title"><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></p>
            </div>
            {/eyou:arclist}
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/eyou:channelartlist}
<div class="container">
  <div class="row"> {eyou:channelartlist typeid='6'}
    <div class="col-xs-12 col-sm-8 col-md-7">
      <div class="down_box">
        <h2 class="left_h2">{eyou:field name='typename' /}</h2>
        <ul class="index_down">
          {eyou:arclist titlelen='40' row='5'}
          <li><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a><span class='news_time'>{$field.add_time|MyDate='Y-m-d',###}</span></li>
          {/eyou:arclist}
        </ul>
      </div>
    </div>
    {/eyou:channelartlist}
    <div class="col-xs-12 col-sm-4 col-md-5">
      <div class="index_contact">
        <h2 class="left_h2">{eyou:lang name='lang27' /}</h2>
        <p style="padding-top:10px;">
           {eyou:lang name='lang29' /}：{eyou:global name='web_attr_2' /}</p>
        <p>{eyou:lang name='lang31' /}：{eyou:global name='web_attr_4' /}</p>
        <p>{eyou:lang name='lang33' /}：{eyou:global name='web_attr_3' /}</p>
        <p>{eyou:lang name='lang35' /}：{eyou:global name='web_attr_6' /}</p>
        <p>{eyou:lang name='lang37' /}：{eyou:global name='web_attr_5' /}</p>
      </div>
      <div class="btn-group dropup" style="margin-bottom:15px;">
        <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false" style="line-height:13px;">&nbsp;&nbsp;&nbsp;&nbsp;{eyou:lang name='lang39' /}&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false" style="line-height:13px;"><span class="caret"></span><span class="sr-only">{eyou:lang name='lang39' /}</span></button>
        <ul class="dropdown-menu" role="menu">
         {eyou:flink titlelen='45' type='1'}<li><a href="{$field.url}" {$field.target}>{$field.title} </a></li>{/eyou:flink}
        </ul>
      </div>
    </div>
  </div>
</div>
{eyou:include file="footer.htm" /}
</body>
</html>
