<div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">{eyou:lang name='lang47' /}</h2>
        <ul class="left_nav_ul" id="firstpane">
          {eyou:channel type='first' id='field' currentstyle='cur' row='20'}
              <li> <a class="{$field.currentstyle}" href="{$field.typeurl}">{$field.typename}</a>
              {eyou:notempty name="$field.children"}
              <span class="menu_head">+</span>
                <ul class="left_snav_ul menu_body">
                {eyou:channel name="$field.children" id="field2"}
                 <li><a href="{$field2.typeurl}" >{$field2.typename}</a></li>
                {/eyou:channel}
                </ul>
              {/eyou:notempty}  
              </li>
          {/eyou:channel}  
        </ul>
      </div>
      <form class="sidebar-search" method="get" action="{eyou:searchurl /}">
            <input type="hidden" name="channel" value="" />
            <input type="hidden" name="typeid" value="" />
        <div class="input-group search_group">
          <input type="text" name="keywords" id="keywords" class="form-control input-sm" placeholder="{eyou:lang name='sys7' /}">
          <span class="input-group-btn"><button type="submit" class="search-submit" style="border: 0;outline:none; 
    background: rgba(195, 21, 21, 0);"><span id="submit_search" title="{eyou:lang name='sys7' /}" class="glyphicon glyphicon-search btn-lg" aria-hidden="true"></span></button></span></div>
      </form>
      {eyou:channelartlist typeid='3'}
      <div class="left_news">
        <h2 class="left_h2">{eyou:field name='typename' /}</h2>
        <ul class="left_news">
          {eyou:arclist titlelen='40' row='5' flag='c'}
          <li><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></li>
          {/eyou:arclist}
        </ul>
      </div>
      {/eyou:channelartlist}
      <div class="index_contact">
        <h2 class="left_h2">{eyou:lang name='lang27' /}</h2>
        <p style="padding-top:10px;">
           {eyou:lang name='lang29' /}：{eyou:global name='web_attr_2' /}</p>
        <p>{eyou:lang name='lang31' /}：{eyou:global name='web_attr_4' /}</p>
        <p>{eyou:lang name='lang33' /}：{eyou:global name='web_attr_3' /}</p>
        <p>{eyou:lang name='lang35' /}：{eyou:global name='web_attr_6' /}</p>
        <p>{eyou:lang name='lang37' /}：{eyou:global name='web_attr_5' /}</p>
      </div>
    </div>